.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

/* ----------------------------------------

GraphElement

---------------------------------------- */

.graph-transform {
    width:   100%;
    height:  100%;
}
.graph {
    background: #EEE;
    display:     block;
    overflow:    hidden;
    width:       100%;
    height:      100%;
    border:      1px solid;
    cursor:      grab;
}

/* ----------------------------------------

NodeElement

---------------------------------------- */

.node-header {
    grid-area:      header;
    border-radius:  8px 8px 0px 0px;
 
    width:          calc(100% - 16px);
    height:         calc(100% - 16px);
    padding:        8px;

    text-align:     center;
    cursor:         grabbing;
    background:   gray;
    color:        white;
}
.node-body {
    grid-area:    body;
    cursor:       default;
    background: #333;
    color:      white;
}
.node-footer {
    grid-area:      footer;
    border-radius:  0px 0px 8px 8px;
    cursor:         grabbing;
    overflow:       hidden;
    background:   gray;
    color:        white;
}
.node {
    position:              relative;
    border-radius:         8px 8px 8px 8px; /** required for drop shadow */
    border:                1px solid;
    display:               grid;
    grid-template-columns: 100%;
    grid-template-rows:    32px auto 16px;
    grid-template-areas: 
      "header"
      "body"
      "footer";
    box-shadow: 6px 6px 3px #AAA;
}

/* ----------------------------------------

PortElement

---------------------------------------- */
.port-left {
    grid-area:  left;
}
.port-middle {
    grid-area:  middle;
    text-align: center;
}
.port-right {
    grid-area:  right;
}
.port {
    display:               grid;
    grid-template-columns: 16px auto 16px;
    grid-template-rows:    16px;
    grid-template-areas: 
      "left middle right";
    margin-left:   -8px;
    padding:        4px 0px 4px 0px;
    width:          calc(100% + 16px);
    height:         16px;
}
.port-connector {
    width:            100%;
    height:           100%;
    border-radius:    4px 4px 4px 4px;
    border:           1px solid #777;
    background-color: #333;
}

